#changeset_branch {
  float: right;
  width: 100%;
}

@media (min-width: 500px) {
  #changeset_branch {
    width: 65%;
  }
}

@media (min-width: 900px) {
  #changeset_branch {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  #changeset_branch {
    width: 55%;
  }
}

@media (min-width: 1800px) {
  #changeset_branch {
    width: 65%;
  }
}
